<html>
<title>Submit workouts</title>

<h1>Submit workouts, depending on muscle group</h1>
<!-- Dropdown, containing values from ./static/exercises.py -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
</script>

<body>
  <div>
    <div>
      <b>Raumenys:&emsp;</b>
      <select name="raumenys" id="raumenys">
        <option selected value="0">Pasirink raumenis</option>
        {% for muscle in muscle_groups %}
        <option value="{{ muscle }}">{{ muscle }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <div>
      <b>Pratimas:&emsp;</b>
      <select name="pratimas" id="pratimas">
        <option selected value="0">Pasirink pratima</option>
        {% for exercise in exercises %}
        <option value="{{ exercise }}">{{ exercise }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <label for="svoris"><b>Svoris:</b></label>
    <input type="text" id="svoris" name="svoris" value=""><br>
    <br>
    <label for="pakartojimai"><b>Pakartojimai:</b></label>
    <input type="text" id="pakartojimai" name="pakartojimai" value=""><br>
    <br>
    <label for="komentaras"><b>Komentaras:</b></label>
    <input type="text" id="komentaras" name="komentaras" value=""><br>
    <br>
    <br>
    <option></option>
    <!-- <input id="button" type="submit" onclick="getEnteredData()" value="Send Request" /> -->
    <input id="guzikas" type="submit" value="Guzikas" />
  </div>
</body>

<!-- 
    script used for populating exercise field, depending on value of muscle_group
    placed at the bottom, due to TypeError: null is not an object error
-->
<script>
  document.getElementById('raumenys').onchange = function () {
    var selected_muscle = this.value;
    console.log(">> " + selected_muscle);

    // Jinja explanation: https://stackoverflow.com/a/36144071
    // Solution explanation: https://stackoverflow.com/a/75970022
    var url = "{{ url_for('get_exercises', muscle='') }}" + selected_muscle;
    console.log(url);

    $.ajax({
      type: 'GET',
      url: url,
      success: function (data) {
        $("#pratimas").empty();
        console.log(data);
        for (var i = 0; i < data.length; i++) {
          console.log(">> content of data: " + data[i]);
          $("#pratimas").append('<option value="' + data[i] + '">' + data[i] + '</option>');
        }
      }
    });
  }

  // function getEnteredData() {
  //   var element_raumenys = document.getElementById('raumenys').value;
  //   var element_pratimas = document.getElementById('pratimas').value;
  //   var element_svoris = document.getElementById('svoris').value;
  //   var element_pakartojimai = document.getElementById('pakartojimai').value;
  //   console.log(">> Entered data: " + element_raumenys + " " + element_pratimas + " " + element_svoris + " " + element_pakartojimai);
  // };

  document.getElementById('guzikas').onclick = function() {
    console.log("It's me Kathie, I have come home. So cold.")
    var element_raumenys = document.getElementById('raumenys').value;
    var element_pratimas = document.getElementById('pratimas').value;
    var element_svoris = document.getElementById('svoris').value;
    var element_pakartojimai = document.getElementById('pakartojimai').value;
    var element_komentaras = document.getElementById('komentaras').value;
 
    // create json with entered data
    var jsonAsString = JSON.stringify({
      muscle: element_raumenys, 
      exercise: element_pratimas, 
      kg: element_svoris, 
      rep: element_pakartojimai, 
      comment: element_komentaras
    });

    console.log(jsonAsString);
    
  };
  
</script>

</html>